$ba-primary-black: #232323;
$ba-primary-red: #ce0e2d;
$ba-btn-disabled: #c7c7c7;
$ba-btn-focus-bg: #ae0420;
$ba-field-hover-bg: #f3f3f3;
$ba-field-focus-bg: #eaeaea;

:export {
  ba-primary-black: $ba-primary-black;
  ba-primary-red: $ba-primary-red;
  ba-btn-disabled: $ba-btn-disabled;
  ba-btn-focus-bg: $ba-btn-focus-bg;
  ba-field-hover-bg: $ba-field-hover-bg;
  ba-field-focus-bg: $ba-field-focus-bg;
}

$colors: (
  ba-primary: (
    'black': $ba-primary-black,
    'red': $ba-primary-red,
    100: #ffe0e4,
    200: #de5e73,
    400: #9c0e21,
    500: #780c1a,
    600: #ee0027,
    700: #c40a28,
    800: #ee536c,
  ),

  ba-blue: (
    100: #d9eefb,
    200: #9bc4dc,
    300: #5c9cc1,
    400: #407c9f,
    500: #386178,
  ),
  ba-green: (
    100: #d9efed,
    200: #93cccc,
    300: #258e8e,
    400: #177373,
    500: #124d4d,
  ),
  ba-gold: (
    100: #fff1c7,
    200: #f9c836,
    300: #d3a51a,
    400: #bd8a32,
    500: #a46c04,
  ),
  ba-purple: (
    100: #d8ddf4,
    200: #acb7dd,
    300: #7c88b8,
    400: #666f95,
    500: #505674,
  ),
  ba-orange: (
    100: #f7e8d6,
    200: #fdcb9c,
    300: #f37209,
    400: #cf6710,
    500: #b05206,
  ),
  ba-olive: (
    100: #dce3ac,
    200: #b9c475,
    300: #929b3b,
    400: #7e8738,
    500: #6f772f,
  ),
  ba-functional: (
    error: #b4001d,
    warning: #d66000,
    success: #6f5aac,
    information: #1874aa,
    errorlight: #ffdde2,
    warningLight: #ffead6,
    successLight: #cbece9,
    infoLight: #dff3ff,
  ),
  ba-gray: (
    50: #f7f7f7,
    100: #f1f1f2,
    200: #d8d8da,
    300: #b9b9bc,
    400: #999999,
    600: #7b7c7e,
    800: #606060,
    900: #545454,
  ),
);

$generic-colors: (
  transparent: transparent,
  white: #ffffff,
  black: #000000,
  success: #ddf3f1,
  green: #129393,
  error: #ffdde2,
  info: #ffffff,
  warning: #ffead6,
);
