.hero-banner {
  position: relative;
  width: 100%;
  height: 100%;
  img {
    height: 902px !important;
    // height: 100%;
    object-fit: cover;
    width: 100% !important;
  }
  .hero-banner-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    // background-color: red;
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
  }
}

// .has-transparent-nav {
//   .home-hero-section {
//     .hero-banner-content {
//       // padding-top: 220px;
//       // padding-bottom: 190px;
//     }
//   }
// }
