.app-navbar {
  display: flex;
  background-color: red !important;
}

.app-nav {
  width: 100%;
  .app-nav-wrap {
    background: white;
    &.has-transparent-nav {
      background: transparent;
    }
    // &.nav-with-shadow {
    //   box-shadow:
    //     0 1px 3px rgb(0 0 0 / 9%),
    //     0 0px 7px rgb(0 0 0 / 9%);
    //   transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    // }
  }
  .top-bar {
    height: 54px;
    width: 100%;
    justify-content: space-between;
    background-color: #f1f1f2;
    a {
      font-family: inherit;
      font-weight: bold;
      text-decoration: underline;
    }
    .navigation-list {
      .nav-item {
        color: #232323;
        margin: 0 10px;
        padding: 0;
        &:hover {
          background: transparent;
          color: #232323;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .primary-navbar {
    justify-content: space-between;
    height: 118px;
  }
  .navigation-list {
    .nav-item {
      // margin: 0 18px;
      padding: 5px 12px;
      border-radius: 100px;
      cursor: pointer;
      color: #232323;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: #232323;
        color: white;
      }
    }
  }
}

.has-transparent-nav {
  position: relative;
  // height: 53px;
  top: 0;
  z-index: 11;
  .navigation-list {
    .nav-item {
      // margin: 0 18px;
      padding: 5px 12px;
      border-radius: 100px;
      transition: all 0.3s ease;
      color: white;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        background: white;
        color: #232323;
      }
    }
  }
}
