@use '../scss/abstracts' as *;
@use '../scss/main.scss';

* {
  box-sizing: border-box;
}

.contentSection {
  text-shadow: 1px 1px #000;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.icon-16 {
  width: 16px;
  max-height: 16px;
}

.icon-8 {
  width: 8px;
  max-height: 8px;
}

.MuiPaper-root {
  background-color: transparent;
  background: transparent;
}

.MuiContainer-root {
  display: flex;
}

.icon-btn-movement {
  .moveRightIcon {
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
  }

  &:hover {
    .moveRightIcon {
      transform: translateX(8px);
    }
  }
}

.filled-borderless-field {
  background-color: var(--white);

  .MuiFilledInput-root {
    background-color: var(--white);

    &:before {
      border-bottom: 1px solid var(--white);
    }
  }
}

.input-group-cta {
  box-shadow:
    0px 4px 8px 0px rgba(0, 0, 0, 0.12),
    0px 4px 44px 0px rgba(0, 0, 0, 0.06);

  &.bg-white {
    background-color: var(--white);
    box-shadow: none;
  }
}

.bg-white {
  background-color: var(--white);
}

.accordion-summary {
  background: #f6f7f7;
}

.accordion-details {
  padding-left: 40px;
}

// INPUT

.app-nav-logo {
  max-width: 165px;
  max-height: 44px;
}

.app-nav-position {
  max-width: 165px;
  max-height: 44px;
}

.app-screen {
}

.app-nav-wrap {
  top: 0;
  transform: translateY(0%);
  transition: transfrom 0.2s ease-in-out;
  z-index: 999999;
}

.app-hero-content {
  min-height: calc(50vh);

  @include breakpoint-up(md) {
    min-height: calc(100vh - 104px);
  }
}

.top-navbar-action-link {
  background: rgba(35, 35, 35, 0.2);
}

.ba-tag {
  padding: 3px 8px;
  border-radius: 2px;
  display: inline-block;
  border: 1px solid transparent;

  &.primary {
    background-color: $ba-primary-red;
    color: var(--white);
  }

  &.secondary {
    background-color: var(--black);
    color: var(--white);
  }

  &.outlined {
    color: var(--black);
    border: 1px solid $ba-primary-black;
  }
}

.text-cta {
  color: var(--ba-gray-900);
}

.ba-section-head {
  text-align: center;
  padding-bottom: 56px;

  @media (max-width: 1200px) {
    padding-bottom: 20px;
  }

  h2 {
    color: #232323;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.13;
    letter-spacing: -1.38px;

    @media (max-width: 1200px) {
      font-size: 33px;
    }
  }

  p {
    color: #545454;
    text-align: center;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
}

.ba-play-btn {
  @extend %flex-all-center-col;
  width: 66px;
  height: 66px;
  border: 0 none;
  background: rgba(31, 31, 31, 0.2);
  backdrop-filter: blur(18.415630340576172px);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--white);
  border-radius: 50%;
  transition: background ease 0.2s;

  &:hover {
    background: $ba-primary-red;
  }

  svg {
    width: 30px;
    height: 30px;
  }
}

.blue-gradient {
  background: linear-gradient(134deg, #d4ebfb 21.29%, #f3faff 92.92%);
}

.fact-list-card {
  border: 1px solid #e9e9e9;
  min-height: 150px;
}
