.headingText {
  width: auto;
  margin-left: 223px;
  color: var(--primary-black, #232323);

  /* Headlines/H1/Heavy */
  font-family: frutiger;
  font-size: 37px;
  font-style: bold;
  font-weight: 800;
  line-height: 42px; /* 100% */
  letter-spacing: -0.2px;
}

.mainpage {
  display: flex;
  padding: 2px 0px 3px 91px;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 314px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.subheading {
  margin-left: 220px;
  width: auto;
  color: var(--primary-black, #232323);
  margin-bottom: 4px;
  /* Subtitle/Subtitle 1/Heavy */
  font-family: frutiger;
  font-size: 21px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px; /* 123.077% */
}

.homePageDescription {
  left: 220px;
  position: relative;
  width: 678px;
  height: 87px;
  color: #606060;

  /* Body/Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.16px;
}

.accordionLayout {
  margin-right: 50px;
  display: flex;
  width: 685px;
  padding: 24px 20px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: var(--gray-scale-gray-50, #f7f7f7);
}

.accordionTitle {
  display: flex;
  width: 468px;
  padding: 24px 20px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 12px;
  background: var(--gray-scale-gray-50, #f7f7f7);
}

/* //////////////// */
.content-section-container {
  padding: 5% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section-grid-accordion {
  padding: 0% 5%;
}
.content-section-accordion-list {
  padding: 4px;
}
.homeCare-image {
  width: 677px;
  height: 280px;
  border-radius: 20px;
  background: lightgray -63.963px -114.759px / 126.329% 168.688% no-repeat;
}
