@use '../../../../assets/scss/abstracts' as *;

.footer-container {
  background: rgb(237, 236, 236);
}

.foot-main {
  display: flex;
  justify-content: space-between;
  padding: 40px;

  @media (max-width: 767px) {
    flex-direction: column;
    padding: 40px 10px 0 10px;
  }

  .input-group-cta {
    max-width: 365px;
    justify-content: space-between;

    @media (max-width: 767px) {
      max-width: 100%;
    }
  }
}

.footer-left {
  flex: 1;

  .footer-group {
    display: block;
    margin-bottom: 100px;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.footer-group {
  display: none;

  @media (max-width: 767px) {
    display: block;
  }
}

.footer-service {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

  @media (max-width: 767px) {
    padding: 32px 0;
    grid-template-columns: repeat(2, 1fr);
  }
}

.service-links {
  display: block;

  ul {
    list-style: none;
    @extend %flex-col;
    gap: 12px;

    li {
      display: block;

      a {
        display: block;
        text-decoration: none;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $ba-primary-black;

        &:hover {
          color: var(--black);
          text-decoration: underline;
        }
      }
    }
  }
}

.footer-icons {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;

  @media (max-width: 767px) {
    padding-bottom: 32px;
  }
}

.footer-icons img {
  padding-right: 5px;
  width: 40px;
}

.logo {
  max-width: 140px;
  padding-bottom: 20px;

  @media (max-width: 767px) {
    max-width: 126px;
  }
}

.footer-bottom {
  padding: 26px 0;
  border-top: 1px solid #e1e1e1;
}

.footer-bottom-content {
  display: flex;
  gap: 16px;
  align-items: center;
  color: var(--black);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

  @media (max-width: 767px) {
    gap: 8px;
  }

  img {
    width: 40px;
    height: 40px;
  }
}
