@use '../../../../assets/scss/abstracts' as *;

.our-client-section {
  background-color: var(--ba-gray-50);
  position: relative;
  overflow: hidden;
  padding: 40px 0;

  @media (max-width: 991px) {
    padding: 0px 0;
  }

  .swiper-slide {
    min-height: 620px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    bottom: 80px;
    top: inherit;
    border-radius: 50%;
    background: var(--ba-primary-red);
    color: var(--white);
    width: 48px;
    height: 48px;
    z-index: 3;

    &.swiper-button-disabled {
      background: var(--ba-gray-300);
    }

    &::after {
      font-size: 14px;
      pointer-events: none;
    }
  }

  .swiper-button-prev {
    right: inherit;
    // left: calc(50% + 130px);
    left: inherit;
    right: 600px;

    @media (max-width: 991px) {
      right: 115px;
    }
  }

  .swiper-button-next {
    // right: calc(50% - 230px);
    right: 540px;

    @media (max-width: 991px) {
      right: 60px;
    }
  }

  .swiper-pagination {
    width: 50px;
    // right: calc(50% - 130px);
    right: 660px;
    position: absolute;
    left: inherit;
    bottom: 80px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: var(--ba-gray-800);

    @media (max-width: 991px) {
      right: 160px;
    }
  }
}

.client-stepper-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 600px;
  overflow: hidden;

  @include breakpoint-down(md) {
    width: 277px;
    height: 277px;
    position: relative;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    right: -140px;
    border-radius: 50%;

    @include breakpoint-down(md) {
      right: inherit;
    }
  }
}

.stepper-controls {
  @extend %inline-flex-vert-center;
  gap: 4px;
}
