.jobs-home-container {
  background: var(
    --background-gradients-pale-blue,
    linear-gradient(292deg, #eceaf4 6.28%, rgba(236, 234, 244, 0) 34.85%),
    radial-gradient(
      84.46% 43.76% at 93% 15.3%,
      #edf4fa 0%,
      rgba(237, 244, 250, 0) 100%
    ),
    radial-gradient(
      76.77% 44.61% at 5.57% 9.31%,
      #d9e8f2 0%,
      rgba(217, 232, 242, 0) 100%
    ),
    radial-gradient(
      136.18% 57.88% at 7.14% 94.56%,
      #efe4e6 0%,
      rgba(239, 229, 230, 0) 100%
    ),
    #f0f6fa
  );

  h1 {
    line-height: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
