@use '../../../../assets/scss/abstracts' as *;

.news-innovation-section {
  padding: 100px 0;
}

.ba-slider-wrapper {
  position: relative;

  .swiper-slide {
    @media (max-width: 991px) {
      margin-right: 12px !important;
    }
  }

  .swiper-horizontal > .swiper-scrollbar,
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 3px;
  }
}

.ba-slider-cards {
  margin-bottom: 40px;

  .ba-slider-cards-pic {
    // min-height: 180px;
    position: relative;
    width: 100%;
    background-color: var(--ba-gray-50);
    border-radius: 8px;
    aspect-ratio: 16/9;
    overflow: hidden;

    @media (max-width: 991px) {
      min-height: 168px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
      margin: auto;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transition: transform 0.8s;

      &:hover {
        transform: scale(1.1);
        transform-origin: center;
      }
    }
  }

  .ba-slider-cards-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    h4 {
      font-size: 21px;
      font-style: normal;
      font-weight: 700;
      line-height: 30px;
      display: block;
      height: 60px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 0;

      @media (max-width: 1200px) {
        font-size: 18px;
        line-height: 27px;
      }
    }

    p {
      color: #545454;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;

      @media (max-width: 1200px) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}

.btn-link {
  display: inline-flex;
  align-items: center;
  color: $ba-primary-red;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  gap: 7px;
}
