@use '../../../../assets/scss/abstracts' as *;

.social-media-card {
  @extend %flex-col;
  align-items: flex-start;
  border-radius: 8px;
  background: var(--primary-white, #fff);
  box-shadow:
    0px 0px 1px 0px rgba(35, 35, 35, 0.1),
    0px 0px 3.4103px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;

  .card-media {
    aspect-ratio: 16/9;
    width: 100%;
    position: relative;
    background: #ccc;
    position: relative;

    img {
      position: absolute;
      margin: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-head {
  @extend %flex-horiz-away-vert-center;
  padding: 14px;
  border-radius: 10px 10px 0 0;
  width: 100%;

  .social-icons {
    @extend %flex-horiz-away-vert-center;
    gap: 8px;
  }
}

.card-user-data {
  @extend %flex-vert-center;
  gap: 8px;
  flex-grow: 1;

  img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
  }
}

.card-user-name {
  margin: 0;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
  line-height: 13.641px;
  letter-spacing: 0.22px;
  color: $ba-primary-black;
}

.card-bottom {
  @extend %flex-horiz-away-vert-center;
  width: 100%;
  padding: 14px;
  border-radius: 0 0 10px 10px;

  .card-bottom-text {
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 11.595px;
    letter-spacing: 0.22px;
  }

  .reactions-container {
    @extend %flex-vert-end;
    gap: 13px;

    .reactions {
      @extend %flex-vert-center-start;
      gap: 13px;
      color: var(--ba-gray-800);

      .svg-icon {
        width: 15px;
        height: 16px;

        // &.icon-forward {
        //   width: 18px;
        //   height: 16px;
        // }
      }
    }
  }
}
