.social-media-container {
  .swiper-wrapper {
    padding: 2px;
  }
}

.topbar {
  display: flex;
  flex-direction: row;
}

.navigation-buttons {
  width: 20%;
  height: fit-content;
  margin: auto 0;
}

.text-container {
  width: 100%;
  text-align: right;
}

.text-container h1 {
  width: 90%;
  margin: 0 auto 2% 0;
  font-size: 1.8em;
  font-weight: bold;
  text-align: center;
}

.text-container h5 {
  font-size: 0.7em;
  text-align: center;
}

.navigation-buttons button {
  margin: auto 3%;
}

.social-media-carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.social-media-carousel::-webkit-scrollbar {
  display: none;
}
